@model MadrasahManagement.Models.Class

@{
    ViewData["Title"] = "Create Class";
}

<h1>Create Class</h1>

<form id="classCreateForm" asp-action="Create" method="post" class="needs-validation" novalidate>

    <div class="mb-3">
        <label asp-for="ClassName" class="form-label"></label>
        <input asp-for="ClassName" class="form-control" placeholder="Enter Class Name" required />
        <span asp-validation-for="ClassName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DepartmentId" class="form-label"></label>
        <select asp-for="DepartmentId" class="form-control" required>
            <option value="">Select Department</option>
            @foreach (var item in ViewBag.DepartmentList)
            {
                <option value="@item.DepartmentId">@item.DepartmentName</option>
            }
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Create
        </button>

        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            <i class="bi bi-x-circle"></i> Close
        </button>
    </div>
</form>


    <partial name="_ValidationScriptsPartial" />


<script>
    $("#classCreateForm").submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: "/Class/CreateModalPost",
            type: "POST",
            data: $(this).serialize(),
            success: function (res) {
                if (res.success) {
                    $('#classModal').modal('hide');
                    RefreshClassList();
                }
            }
        });
    });
</script>
