@model Salary

<h2>Pay Salary</h2>

<form asp-action="PaySalary" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Select Teacher</label>
                <select asp-for="TeacherId" class="form-control">
                    <option value="">-- Select Teacher --</option>
                    @foreach (var teacher in ViewBag.Teachers)
                    {
                        <option value="@teacher.TeacherId">@teacher.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Select Staff</label>
                <select asp-for="StaffId" class="form-control">
                    <option value="">-- Select Staff --</option>
                    @foreach (var staff in ViewBag.Staff)
                    {
                        <option value="@staff.StaffId">@staff.StaffName</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Basic Salary</label>
                <input asp-for="BasicSalary" class="form-control" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Allowances</label>
                <input asp-for="Allowances" class="form-control" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Deductions</label>
                <input asp-for="Deductions" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Month</label>
                <select asp-for="MonthName" class="form-control" asp-items="Html.GetEnumSelectList<Month>()">
                    <option value="">-- Select Month --</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Payment Method</label>
                <select asp-for="PaymentMethod" class="form-control" asp-items="Html.GetEnumSelectList<PaymentMethodType>()">
                    <option value="">-- Select Method --</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Pay Salary</button>
    </div>
</form>