@model MadrasahManagement.ViewModels.ForgotPasswordViewModel

<h3>Forgot Password</h3>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button class="btn btn-warning">Send Reset Link</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
