@model MadrasahManagement.ViewModels.RegisterTeacherViewModel

<h2>Teacher Registration</h2>

<form method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />

    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control" />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" class="form-control" /> 

    <button class="btn btn-success mt-3">Register Teacher</button>
</form>
