@model MadrasahManagement.ViewModels.RegisterAdminViewModel

<h2>Create New Admin</h2>

<form method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />

    <label asp-for="Password"></label>
    <input asp-for="Password" class="form-control" />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" class="form-control" />

    <button class="btn btn-danger mt-3">Create Admin</button>
</form>
