@model ExamFee

<h2>Delete Confirmation</h2>

<p>
    Are you sure you want to delete
    <strong>@Model.Class!.ClassName - @Model.Examination!.ExamName</strong> ?
</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="ExamFeeId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
