@model MadrasahManagement.Models.Section

<h2>Section Details</h2>

<table class="table table-bordered">
    <tr><th>Section Name</th><td>@Model.SectionName</td></tr>
    <tr><th>Class</th><td>@Model.Class?.ClassName</td></tr>

    <tr><th>Class</th><td>@Model.Class.ClassName</td></tr>
</table>

<a href="/Section/Index" class="btn btn-secondary">Back</a>
