<div *ngIf="loading()">Loading...</div>

<a routerLink="create" class="btn btn-success mb-3">Add Exam</a>

<table class="table table-bordered" *ngIf="!loading()">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Fee</th>
      <th>Point</th>
      <th>Routine</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exam of examinations()">
      <td>{{exam.examId}}</td>
      <td>{{exam.examName}}</td>
      <td>{{exam.examFeeCount}}</td>
      <td>{{exam.pointConditionCount}}</td>
      <td>{{exam.examRoutineCount}}</td>
      <td>
        <a [routerLink]="['edit', exam.examId]" class="btn btn-sm btn-primary">Edit</a>
        <button (click)="deleteExam(exam.examId)" class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
