@model MadrasahManagement.Models.Department
@{
    ViewData["Title"] = "Create Department";
}

<h1>Create Department</h1>

<form id="deptCreateForm" asp-action="Create" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label asp-for="DepartmentName" class="form-label"></label>
        <input asp-for="DepartmentName" class="form-control" placeholder="Enter Department Name" required />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" placeholder="Enter Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Create
        </button>

        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            <i class="bi bi-x-circle"></i> Close
        </button>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $("#deptCreateForm").submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: "/Department/Create",
            type: "POST",
            data: $(this).serialize(),
            success: function (res) {
                if (res.success) {
                    $('#departmentModal').modal('hide');
                    RefreshDepartmentList();
                }
            }
        });
    });
</script>
